@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #555;
  font-family: 'Noto Serif JP', serif;
}

/* 共通部分
------------------------------- */
p {
  line-height: 1.8;
  font-size: 1.125rem;
}
.container {
  overflow: auto;
  /* scroll-snap-type: y mandatory; */
  height: 100vh;
}
section {
  height: 100vh;
  scroll-snap-align: start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* HERO
------------------------------- */
.hero .wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 25vh 5rem 0;
}
.hero {
  background-color: #ff6c94;
  background-image: url(../images/marguerite.png);
  background-position: right bottom;
  background-size: contain;
  /* position: relative; */
}
.title-hero {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-family: 'Merriweather', serif;
  color: #fff;
}
.hero p {
  font-size: 1rem;
  font-weight: lighter;
  color: #fff;
}
/* .center {
  position: absolute;
  top: 50%;
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
} */

/* ABOUT
------------------------------- */
.about .wrapper {
  /* max-width: 900px; */
  width: 100%;
  margin: 0 auto;
  padding: 21vh 1rem 0;
  width: 50%;
  margin-left: 50%;
}
.about {
  background-color: #f6f0cc;
  background-image: url(../images/flower2_01.png);
  background-position: left bottom;
  background-size: 50%,100%;
}
.about p {
  margin: 0 3% 0 13%;
}
.title-center {
  text-align: center;
}
.title-about {
  font-size: 2.5rem;
  padding: 0 1rem 2rem;
  margin-bottom: 2.5rem;
  margin-left: 5%;
  border-bottom: solid 3px #ff6c94;
}

/* MENU
------------------------------- */
.menu {
  display: flex;
  align-items: center;
  background-color: #fff;
  background-image: url(../images/hepatica-menu01.png);
  background-position: right bottom;
  background-size: contain;
}
.menu .wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.title-menu {
  font-size: 7rem;
  margin-bottom: 2rem;
  font-family: 'Dancing Script', cursive;
}
.menu-list tr {
  font-size: 1.125rem;
  margin-bottom: .5rem;
  line-height: 1.7;
}
.menu-list th {
  font-weight: normal;
  text-align: left;
}
.menu-list td {
  padding-left: 1rem;
}
.fa-leaf {
  color: #a6ce39;
  margin-right: 1em;
}

/* CONTACT
------------------------------- */
.container-c {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 1rem;
}
.map {
  width: 50%;
  margin: 0 auto;
  padding: 0 1rem;
}
.info {
  width: 50%;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}
.contact {
  background-color: #f6f0cc;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.map-title {
  font-size: 1.5rem;
  padding: 0 8px 8px;
  border-bottom: 3px #ff6c94 solid;
}
.location-map {
  padding: 13px 8px 0;
}
iframe {
  width: 100%;
}
.title-contact {
  font-size: 7rem;
  margin-bottom: 2rem;
  font-family: 'Dancing Script', cursive;
  color: #432;
}
.btn {
  background: #c6a471;
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 3.5rem;
  border-radius: 6px;
  display: inline-block;
  margin: 2rem 0 2.25rem;
  text-decoration: none;
}
.btn:hover {
  background: #d9b47c;
}
.contact-sns {
  display: flex;
  justify-content: center;
}
.contact-sns a {
  background: #fff;
  width: 3.75rem;
  height: 3.75rem;
  display: inline-block;
  margin: 0 .5rem;
  border-radius: 50%;
  font-size: 2rem;
  padding: .5rem 0 0 .125rem;
  color: #555;
}
.contact-sns a:hover {
  background: rgba(255,255,255,.5);
}
.contact ul {
  list-style-type: none;
}

/* FOOTER
------------------------------- */
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}

/* MOBILE SIZE
================================================ */
@media (max-width: 700px) {
  p {
    padding: 0 1rem;
  }
  p,
  .menu-list {
    font-size: 1rem;
  }
  .hero {
    text-align: center;
  }
  .hero .wrapper {
    padding: 11vh 0 0;
  }
  .hero {
    background-position: bottom;
    background-size: cover;
  }
  .title-hero {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-family: 'Merriweather', serif;
    color: #eee;
    text-shadow:1px 1px 3px;
  }
  .hero p {
    font-size: 1rem;
    font-weight: lighter;
    color: #432;
  }
  .about {
    background-position: bottom;
    background-size: contain;
  }
  .about .wrapper {

    padding: 8vh 1rem 0;
    width: 100%;
    margin-left: 0;
  }
  .about p {
    margin: 0 1%;
  }
  .title-center {
    text-align: center;
  }
  .title-about {
    font-size: 1.75rem;
    padding: 0 0 2rem;
    margin-bottom: 2.5rem;
    margin-left: 0;
  }
  .menu {
    background-position: bottom;
    background-size: cover;
  }
  .title-menu {
    font-size: 5rem;
    margin-bottom: 5rem;
  }
  .contact {
    min-height: 100vh;
  }
  .container-c {
    padding: 1rem 1rem;
    flex-direction: column; 
  }
  .map {
    width: 100%;
    height: 50%;
    padding: 0;
  }
  .info {
    width: 100%;
    height: 50%;
    padding: 0;
    margin-top: 1rem;
  }
  .map-title {
    font-size: 1.25rem;
    padding: 0 8px 8px;
    margin-bottom: 1rem;
  }
  .location-map {
    padding: 0;
  }
  iframe {
    width: 100%;
    height: 50%;
  }
  .title-contact {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .btn {
    font-size: 1rem;
  }
}